
target
target-eclipse
.idea
.class
.classpath
.project
.settings
.directory
.springBeans
.gradle
.asscache
bin
build
classes
*~
vendor
.bundle
bundle-
node_modules/
grails-app/assets/javascripts/bundle-*
grails-app/assets/javascripts/*.woff2
grails-app/assets/javascripts/*.svg
grails-app/assets/javascripts/*.ttf
grails-app/assets/javascripts/*.eot
grails-app/assets/javascripts/*.woff
*.iml
